<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourite</title>
</head>
<body>
    <h1>Your Favourites</h1>
    <p>Your go-to list when you are feeling bored!</p>

  <% if (moviesList && moviesList.length > 0) { %>
    <table border = '1'>
        <tr>
            <th>Movie</th>
            <th>Details</th>
        </tr>
        <% moviesList.forEach(movie => { %>
            <tr>
            <td><strong><%= movie.title %></strong>
                Image: <%=movie.image%></td>
            <td>
                Year: <%= movie.releaseYear %><br>
                Category: <%= movie.category %><br>
                Synopsis: <%= movie.sypnosis %><br>
                Runtime: <%= movie.runTime %><br>
                Director: <%= movie.director %><br>
            </td>
            </tr>
        <% }) %>
        </table>
    <% } else { %>
        <p>You currently have no favourites.</p>
    <% } %>

    <br>
    <!--Link back to edit favourites-->
    Want to favourite/unfavourite movies? Click 
    <a href="/users/<%=user %>/update-favourites">here</a><br>
    Click 
    <a href="/users/<%=user%>/watchlist">here</a> to view full personal watchlist!

    <footer>
        <p>&copy; 2026 Personal Movie Space. All rights reserved.</p>
    </footer>
</body>
</html>
