<!DOCTYPE html>
<html lang="en">
<body>
  <h1>Your Personalised Watch List</h1>

  <% if (moviesList && moviesList.length > 0) { %>
    <table border="1">
      <tr>
        <th>Movie</th>
        <th>Details</th>
      </tr>

      <% moviesList.forEach(movie => { %>
        <tr>
          <td><strong><%= movie.title %></strong></td>
          <td>
            Year: <%= movie.releaseYear %><br>
            Category: <%= movie.category %><br>
            Synopsis: <%= movie.sypnosis %><br>
            Runtime: <%= movie.runTime %><br>
            Director: <%= movie.director %><br>
            Image: <%= movie.image %><br>
          </td>
        </tr>
      <% }) %>
    </table>
  <% } else { %>
    <p>Your watchlist is currently empty.</p>
  <% } %>

  <br>
  <!-- Link to update-status page -->
  <a href="/users/<%= user %>/update-status">Mark movies as watched/unwatched</a><br>
  <a href="/users/<%= user %>/add-movies">Add more movies</a><br>
  <a href="/users/<%= user %>/delete-movies">Remove movies</a>
</body>
</html>
